#leds {
    display: inline-grid;
    gap: 10px;
    padding: 10px;
    background: black;
}

.strip .pixel {
    grid-row: 1
}

.circle .p-0 {
    grid-row: 1;
    grid-column: 2;
}

.circle .p-1 {
    grid-row: 2;
    grid-column: 3;
}

.circle .p-2 {
    grid-row: 3;
    grid-column: 2;
}

.circle .p-3 {
    grid-row: 2;
    grid-column: 1;
}

.pixel-strip {
    margin: 0;
    padding: 0;
    list-style: none;
    background: black;
    display: inline-block;
}

.pixel {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
}

.ammeter {
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    width: 100px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px 10px 0 0;
}

.ammeter:before {
    content: '~';
}

.ammeter:after {
    content: 'mA';
}